# Datasets
data/ETL/
data/curated/
curated.tar.gz*
images_debug/
docs/
handwritting_characters_database/
handwritten_character_database/

# Python Virtual Environment & Caches
venv/
.venv/
__pycache__/
*.pyc

# OS Files
.DS_Store

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Models & Weights
models/*.h5
models/*.keras

# Output & Result Files
Result.png
Result-history.png
Image_after_test.jpg

# Temporary Scratch Files
scratch/